body {
    font-family: 'Lucida Sans', sans-serif;
    padding-left: 20px;
}
h1 {
    color :blue;
    font-size: 40px;
}
h2{
    font-size: 30px;
    color:royalblue;
}
p {
    font-size: 25px;
    line-height: 1.5;
    font-style: italic;
}
img {
    width: 700px;
    height: 500px;
    float: right;
    padding-right: 70px;
}