
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    margin-left: 40px;
}
h1 {
    color :blue;
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
}
h2{
    font-size: 30px;
    color:royalblue;
    font-family: 'Courgette', cursive;
}
p {
    font-size: 25px;
    line-height: 1.7;
    font-family: 'Courgette', cursive;
}
img {
    width: 700px;
    height: 500px;
    float: right;
    margin-right: 200px;
}